project:
  type: book
  output-dir: docs

book:
  title: "CORN276-RMGIS"
  author: "Michael Hunt"
  date: "2/6/2026"
  chapters:
    - index.qmd
    - visualising_data.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt



